.item{
    padding: 15px;
    height: 256px;
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #1F1E1E;
text-align: center;
margin-top: 50px;
}
.box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 50px 100px 150px 100px;
}
.h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 130%;
color: #FFFFFF;
}
.text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
}
.t1{
    margin: 15px 0;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
}
.info{
    flex: 1 1 auto;
    margin: 15px 0;
}
.item:nth-child(1){
    background: url('../img/1.png')no-repeat;
}
.item:nth-child(2){
    background: url('../img/2.png') no-repeat;

}

.item:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
    background: url('../img/3.png') no-repeat;
    height: auto;
    width: auto;

}
.item:nth-child(4){
    background: url('../img/4.png') center no-repeat;
}
.item:nth-child(5){
    background: url('../img/5.png') center no-repeat;  
}
.item:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
    background: url('../img/6.png') no-repeat;
    height: auto;
    width: auto;
}
.item:nth-child(7){
    background: url('../img/7.png') center no-repeat;

}
.item:nth-child(8){
    background: url('../img/8.png') center no-repeat;

}
.item:nth-child(9){
    background: url('../img/9.png') center no-repeat;

}
.item:nth-child(10){
    background: url('../img/10.png') center no-repeat;

}